body {
  font-family: 'Nunito', 'Times New Roman', Times, serif;
}

#header {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  align-items: flex-end;
  width: 85%;
}

#header .title {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

#header .title img {
  max-width: 3em;
  max-height: 3.3em;
}

#header .title h2 {
  padding-left: 0.5em;
}

#header .score {
  margin: 0;
  color: #6c90ac;
}

#header .tried {
  margin-top: 0;
}

#cards {
  display: flex;
  flex-wrap: wrap;
  width: 85%;
  margin: 0 auto;
}

.card {
  box-sizing: border-box;
  /* flex: 結合flex-basis、flex-grow、flex-shrink */
  flex: 7% 1 1;
  /* 每一張卡片的寬度為視窗寬度的 8% */
  height: 8vw;
  border: 2px solid #e0e0e0;
  margin: 2px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.card img {
  max-width: 30%;
  align-self: center;
}

.card p {
  margin: 3px;
  font-size: 18px;
}

/* 調整 .card 中最後一個 p 元素 */
.card p:last-child {
  transform: rotate(180deg);
}

.back {
  background: url('https://assets-lighthouse.alphacamp.co/uploads/image/file/9222/ExportedContentImage_00.png');
  background-size: cover;
}

.paired {
  background-color: #dae0e3;
}

/* 關鍵影格 @keyframes 裡可以用 from 和 to 來指定動畫漸變起點/終點 */
@keyframes wrongAnimation {
  to {
    border: 2px solid #ffd54f;
  }
}

.wrong {
  animation-name: wrongAnimation;
  /* 持續多久 */
  animation-duration: 0.2s;
  /* 重複幾次 */
  animation-iteration-count: 5;
}

/** Game finished **/
.completed {
  position: absolute;
  z-index: 999;
  top: 33vh;
  background-color: RGBA(232, 246, 254, 0.8);
  width: 100vw;
  padding: 50px 0;
}

.completed>p {
  font-size: 1.5em;
  color: black;
  text-align: center;
  margin: 0;
}

.completed>p:first-child {
  font-size: 3em;
  font-weight: 700;
  color: #758d9a;
}